<div id="front_end_tester_main_container">
	<%= form_for @test, :url => { action: :create, controller: :tests } do |f| %>
		<% f.submit "Create New Test Page" %>
	<% end %>
	<%# cookies[:recent_tests] = '' %>
	<% unless cookies[:recent_tests] == '' %>
		<% cookies[:recent_tests][0] = '' %>
		<% recent_tests = cookies[:recent_tests].split(',') %>
		<p>Your Recent Test Pages:</p>
		<ul>
			<% i = 0 %>
			<% recent_tests.reverse_each do |test| %>
				<li><%= link_to test, "/#{test[0..7]}" %></li>
				<% i += 1 %>
				<% break if i == 20 %>
			<% end %>
		</ul>
	<% end %>
</div>