<% provide(:title, 'CSS Editor') %>
<div id="front_end_tester_main_container">
	<h1>Edit CSS</h1>
	<hr />
	<div id="uid" data-uid="<%= @test.uid %>">
	<div id="css_editor_container" class="editor_container">
		<%= form_for @test, :url => { action: :update_css } do |f| %>
			<%= f.text_area :css, value: @test.css %>
			<%= f.submit "Save", id: "save" %>
		<% end %>
	</div>
</div>